@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';
}

body {
    padding-top: 80px;
}

select, input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.basicSet {
    padding: 20px;
}

.isHidden {
    display: none;
}

.header {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 3px solid #28B171;
}

.header h1 {
    color: #28B171;
}

.header .topMenu li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-right: 5px;
}

.header .topMenu li a {
    text-decoration: none;
}

.header .topMenu li a:visited{
    color: #28B171;
}

.footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .11);
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 5px 6px;
    color: #828385;
}

.footer .footUp h1 {
    color: black;
}

.footer .footUp {
    display: flex; 
    width: 100%;
    justify-content: space-between;
    padding: 20px 30px 0;
}

.footer .footBottom {
    display: flex;
    margin-top: 15px;
    width: 100%;
    max-width: 1280px;
    padding: 0 30px;
    margin-bottom: 30px;
}

.footer .footBottom h4 {
    position:relative;
    color: black;
    margin-bottom: 10px;
}

.footer .footBottom h4:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    width: 20px;
    height: 2px;
    display: inline-block;
    background-color: #28B171;
}

.footer .snsBtns li {
    display: inline-block;
}

.footer .snsBtns li button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.youtubeBtn {
    background-color: #D40A18;
}

.fbBtn {
    background-color: #3A5195;
}

.twitterBtn {
    background-color: #00A8FF;
}

.instaBtn {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

}


.footBottom .footBlock {
    width: 25%;
    margin-right: 3px;
}

.footBlock .subscribeForm {
    width: 100%;
}

.footBlock .subscribeForm input[type="email"] {
    width: 100%;
    min-width: 100%;
    padding: 6px;
}

.footBlock .contactList i {
    margin-right: 5px;
}

.footBlock .linksList li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footBlock .subscribeForm button {
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    background-color: #fafafa;
    border: 2px solid #28B171;
}

.footBlock .subscribeForm button:hover {
    background-color: #28B171;
    color: white;
}

.footer .copyRight {
    width: 100%;
    padding: 8px;
    background-color: #28B171;
    color: #fafafa;
}

.menuBtn {
    display: none;
}

.supportBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:#e8e8e8;
    font-size: 38px;
    line-height: 3rem;
    background-color: #28B171;
}

.supportBtn:visited {
    color:#e8e8e8;
}

.supportBtn span {
    display: block;
    font-size: 34px;
}

.adBtn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10;
    width: 4rem;
    height: 4rem;
}

.adBtn img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        box-shadow: 1px -2px 6px 2px rgba(0, 0, 0, .11);
    }

    .header .topMenu {
        top: 80%;
    }

    .menuBtn {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background: none;
        border: 0;
        overflow: hidden;
    }
 
    .footBottom {
        flex-direction: column;
    }

    .footBottom .footBlock {
        width: 100%;
        margin-top: 10px;
    }

    .footBlock .contactList li {
        width: 100%;
    }
    
    .footBottom .footBlock ul li {
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .newsletter {
        display: none;
    }
}