@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';
}

li {
    list-style: none;
}

.basicSet {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.header h1 {
    color: #003166;
}

.header .topMenu li {
    display: inline-block;
    list-style: none;
}

.footer {
    height: 100px;
    background-color: antiquewhite;
}