
@keyframes goUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.companyInfoWrapper {
    background-image: url("https://www.childfund.or.kr/resources/images/main/bg_openbiz.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.companyInfoWrapper h1 {
    font-size: 42px;
}

.animateOne {
    animation-name: goUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


.companyInfoWrapper h1 span {
    color: #28B171;
}

.companyInfoWrapper .mainTxt {
    font-size: 16px;
    color: #9a9a9a;
    margin: 10px 0;
    margin-bottom: 30px;
}

.companyInfoWrapper .infoBtsWrapper li button {
    background: none;
    border: 1px solid #28B171;
    color:#28B171;
    padding: 0.8rem 1.2rem;
    min-width: 196px;
}

.companyInfoWrapper .infoBtsWrapper li button:hover {
    background:#28B171;
    color: white;
}

.companyInfoWrapper .companyInfoBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.companyInfoWrapper .infoBtsWrapper li {
    display: inline-block;
}

.leftWing {
    width: 100%;
    height: 100%;
    max-width: 700px;
    vertical-align: middle;
}

.leftWing li {
    display:inline-block;
    width: 24%;
    max-width: 180px;
    height: 100%;
    min-height: 140px;
    padding:0 10px;
    text-align: center;
    vertical-align: middle;
}

.leftWing li p {
    width: 100%;
    padding: 0 1rem;
    height: 100%;
}

.leftWing li img {
    display:block;
    width: 100%;
    max-width: 100px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.leftWing li p {
    height: 100%;
}

.rightWing li strong {
    font-size: 36px;
    transition: all .1s ease;
}

.rightWing li {
    font-size: 18px;
}

@media screen and (max-width: 786px) {
    .companyInfoWrapper .companyInfoBottom {
    flex-direction: column;
    align-items: baseline;
    }

    .companyInfoWrapper .infoBtsWrapper {
        display: none;
    }

    .leftWing {
        width: 100%;
        height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin: 0 auto;
    }

    .leftWing li {
        display:inline-block;
        width: 100%;
        min-width: 49%;
        max-width: 110px;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    .leftWing li img {
    display:block;
    width: 100%;
    max-width: 120px;
    height: 80px;
    margin-bottom: 10px;
    }

    .rightWing li {
        margin: 15px;
    }

}